<div class="title">
  FARANHEIT TO CELCIUS CALCULATOR
</div>
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">{{name}}</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputPassword" [(ngModel)]="value"> 
   
  </div>
</div>
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Value in Cel</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputPassword" placeholder="{{value | farCel}}"> 
    

  </div>
</div>

<div class="title">
  Angular Reactive Form
</div>
<form [formGroup]="FarToCel" (ngSubmit)="getMail()">
<div class="mb-3 row">
  <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-10">
    <input type="text"  name="email" class="form-control" id="staticEmail" placeholder="email@example.com" formControlName="email">
    <span style="color:red" *ngIf="email && email.invalid && email.touched" >This field is invalid</span>
  </div>

  
</div>
<div class="mb-3 row">
  <label for="name" class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-10">
    <input type="text" name="username" class="form-control" id="inputname" formControlName="username">
    <span style="color:red" *ngIf="username && username.invalid && username.touched" >This field is invalid</span>
  </div>
 
</div>

<button [disabled]="FarToCel.invalid" type="button" class="btn btn-warning">Submit</button>
</form>